body {
    background-color: #FFD700; /* Gold */
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: #800080; /* Purple */
    margin-top: 20px;
}

.menu {
    background-color: #800080; /* Purple */
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    box-shadow: 3px 3px 5px #888888;
}

button {
    background-color: #4B0082; /* Indigo */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #800080; /* Purple */
}

.dice {
    font-size: 40px;
    background-color: #483D8B; /* Dark Slate Blue */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 20px auto;
    cursor: pointer;
}

.dice .dice-icon {
    display: inline-block;
    transform: rotate(45deg); /* Rotate the dice symbol */
}

.dice:hover {
    background-color: #8A2BE2; /* Blue Violet */
}

.hidden {
    display: none;
}

#dishDetails {
    background-color: #9370DB; /* Medium Purple */
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    color: white;
}

#dishName {
    font-size: 24px;
    margin: 0;
}

#ingredients {
    font-size: 16px;
}
